@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Montserrat&family=Poppins:wght@400;500;600;700&family=Tangerine&display=swap');

/* Variables */
:root{
    --first-color: #66BFBF;
    --second-color: #11999e;
    --top-color: rgb(212, 235, 241);
    --link-color: #0f4c75;
    --text-color: hsl(0, 0%, 91%);
    --border-color: #b2ebe3;
    --middle-color: #ffffff;
	--bottom-color: #1b262c;
	--color-headings: #0077FF;
}
body{
    margin: 0;
    scroll-behavior: smooth;
	transition: background-color 1s;
}
/* Display block for default scrool Bar */
html::-webkit-scrollbar{
    display: none;
}
/*!Index.html*/
/* Custom Scroll Bar */
.progress{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 300;
}
.progress-bar{
    height: 4px;
    background: var(--second-color);
    width: 0%;
}
/* Header */
header{
    background: var(--top-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 15%;
}
.logo{
    width: 75px;
    height: 75px;
    cursor: pointer;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    padding: 0 15px;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Baloo Chettan 2', cursive;
    color: var(--link-color);
    transition: all 0.3s ease 0s;
}
ul li a.active{
    color: black;
}
ul li a:hover {
    color: #666666;
}
/* Top Container */
.top-container{
    width: 100%;
    height: 650px;
    margin: 0;
    position: relative;
    padding-top: 20px;
    overflow: hidden;
    background: var(--top-color);
}
.top-container::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    z-index: 1000;
    background: linear-gradient(transparent, #fff);
}
#top-cloud{
    position: absolute;
    right: 14%;
    top: 5%;
    z-index: 9;
}
#name{
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 135px;
    margin: 5px auto 0 auto;
    color: var(--second-color);
}
#designation{
    text-align-last: center;
    margin: 0;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 23px;
    font-weight: 500;
    color: var(--second-color);
}
#bottom-cloud{
    position: absolute;
    left: 14%;
    bottom: 70%;
    z-index: 10;
}
#mountain{
    position: absolute;
    width: 60%;
    height: 400px;
    bottom: 0;
    left: 25%;
    z-index: 1;
}
.bubbles{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 100;
    background: transparent;
}
.bubble{
    position: absolute;
    bottom: 0;
    background: radial-gradient(#fff, #666666);
    border-radius: 50%;
    opacity: 0.4;
    animation: flying 10s infinite ease-in;
}
@keyframes flying{
    0%{
      bottom: -100px;
      transform: translateX(0);
    }
  
    50%{
      transform: translateX(100px);
    }
  
    100%{
      bottom: 1480px;
      transform: translateX(-200px);
    }
}
.bubble:nth-child(1){
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 8s;
}
.bubble:nth-child(2){
    width: 20px;
    height: 20px;
    left: 20%;
    animation-duration: 5s;
    animation-delay: 1s;
}
.bubble:nth-child(3){
    width: 50px;
    height: 50px;
    left: 35%;
    animation-duration: 5s;
    animation-delay: 2s;
}
.bubble:nth-child(4){
    width: 80px;
    height: 80px;
    left: 50%;
    animation-duration: 10s;
    animation-delay: 0s;
}
.bubble:nth-child(5){
    width: 35px;
    height: 35px;
    left: 55%;
    animation-duration: 6s;
    animation-delay: 1s;
}
.bubble:nth-child(6){
    width: 45px;
    height: 45px;
    left: 40%;
    animation-duration: 8s;
    animation-delay: 3s;
}
.bubble:nth-child(7){
    width: 25px;
    height: 25px;
    left: 75%;
    animation-duration: 7s;
    animation-delay: 2s;
}
.bubble:nth-child(8){
    width: 80px;
    height: 80px;
    left: 80%;
    animation-duration: 6s;
    animation-delay: 1s;
}
.bubble:nth-child(9){
    width: 15px;
    height: 15px;
    left: 70%;
    animation-duration: 9s;
    animation-delay: 0s;
}
.bubble:nth-child(10){
    width: 40px;
    height: 40px;
    left: 25%;
    animation-duration: 5s;
    animation-delay: 3s;
}
/* Middle Container */
.middle{
    background: var(--middle-color);
    text-align: center;
}
.profile{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5%;
}
.midlogo{
    width: 150px;
    height: 150px;
    padding-top: 80px;
}
h2{
    font-size: 50px;
    font-family: 'Tangerine', cursive;
    color: var(--second-color);
}
.p2 {
    line-height: 2;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    padding: 0 15% 0 15%;
}
hr{
    margin: 90px auto 80px auto;
    border: 6px dotted var(--border-color);
    border-bottom: none;
    width: 5%;
}
.skill{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
h3{
    font-size: 22px;
    font-family: 'Baloo Chettan 2', cursive;
    color: var(--link-color);
    padding: 0;
    margin: none;
}
.skill-img{
    width: 80px;
    margin: 0 15px 10px 15px;
}
.btn{
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 25;
    -moz-border-radius: 225;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    top: 50px;
	transition: 0.3s;
}
.btn:hover{
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
    text-decoration: none;
}
.contact-me{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 100px;
}
/* Footer */
footer{
    position: absolute;
    background: var(--bottom-color);
    width: 100%;
    height: 200px;
    padding-top: 10px;
    overflow: hidden;
}
footer .link{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0;
}
footer .link a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Baloo Chettan 2', cursive;
    color: var(--second-color);
    padding: 0 20px;
    transition: 0.3s;
}
footer .link a:hover{
    color: #EAF6F6;
}
footer .social-icons ul{
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%);
}
footer ul li .links{
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    transition: -5s;
}
footer ul li a img{
    position: relative;
    top: 5px;
    width: 60px;
    border-radius: 50%;
}
footer ul li a::before {
    content: '';
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #11999E;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
footer ul li a:hover::before{
    transform: scale(1.1);
    box-shadow: 0 0 15px #62d6da;
}
.copyright{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1%;
    text-align: center;
    color: #EAF6F6;
    font-size: 0.85rem;
    font-family: 'Montserrat', sans-serif;
}
.copyright a{
    color: orange;
    text-decoration: none;
}

/*! Portfolio.html */
.profile a{
    text-decoration: none;
    font-weight: 600;
    color: #2691d9;
}
.project1{
    width: 100%;
    height: auto;
    background: #31355b;
}
.content{
    width: 50%;
    margin-left: 25%;
    padding-bottom: 30px;
}
.project_img{
    width: 80%;
    height: auto;
    padding: 30px 0 0 0;
	/* border-radius: 40px; */
}
.head{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 0;
}
.head3{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 0;
}
.p3{
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    padding: 0 5% 0 5%;
    color: #fff;
}
/*project 1*/
.mainbtn{
    color: #fff;
    background: #4299ed;
    border-radius: 30px;
    padding: 16px 86px;
    text-align: center;
    letter-spacing: 0.5px;
    text-decoration: none;
    line-height: 86px;
    font-size: 18px;
    margin-top: 30px;
    transition: 0.8s all;
    margin-bottom: 40px;
}
.mainbtn:hover{
    color: #fff;
    background: #1680e6;
}
/*project-2*/
.project2{
    width: 100%;
    height: auto;
    background: #f8c687;
}
.btn2{
    background: #005361;
}
.btn2:hover{
    background: #00272e;
}
/*project 3*/
.project3{
    width: 100%;
    height: auto;
    background: #21364b;
}
.btn3{
    color: #8c6c07;
    background: #fae298;
}
.btn3:hover{
    background: #f8d467;
    color: #8c6c07;
}
/* Project 4 */
.project4{
    width: 100%;
    height: auto;
    background: #222426;
}
.btn4{
    color: #ffffff;
    background: #21afb4;
}
.btn4:hover{
    background: #2c6c70;
    color: #ffffff;
}